:root {
  --vp-c-brand-1: #f59e0b;
  --vp-c-brand-2: var(--vp-c-brand);
  --vp-c-brand-3: var(--vp-c-brand-1);
  --vp-home-hero-name-color: transparent;
  --vp-home-hero-name-background: -webkit-linear-gradient(120deg, #d97706, #f59e0b);
}