:root {
  --vp-c-brand: #d97706;
  --vp-c-brand-light: #f59e0b;
  --vp-c-brand-lighter: #fbbf24;
  --vp-c-brand-lightest: #fcd34d;
  --vp-c-brand-dark: #b45309;
  --vp-c-brand-darker: #92400e;
  --vp-c-brand-darkest: #6c3d08;
}